
.catalog_item{
    width: 42%;
    max-width: 165px;
    border-radius: 10px;
    height: 280px;
    border: 1px solid #6f2232;
    background-color: #6f2232;
    color: rgb(255, 255, 255);

}

.catalog_itemBottom_text{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    position: relative;
    top: -33px;
    font-size: 12px;
    padding: 2px;
    margin-top: -5px;
    line-height: 12.4px;
}

.catalog_itemBottom img{
    
        width: 18px;
        height: 18px;
    
}

.catalog_itemBottom_price{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    position: relative;
    top: -34px;
    font-style: italic;
    font-size: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 12.4px;
    margin-top: 5px;
    padding-right: 5px;
}

.catalog_item_image{
    display: grid;
}

.catalog_item_addToBuy{
    width: 40px;
    height: 40px;
    justify-self: end;
    position:relative;
    top: -20px;
    right: -15px;
    z-index: 100;
    
}

.catalog_item_goodsImage{
    width: 104%;
    position: relative;
    top: -41px;
    left: -3px; 
}

@media(max-width: 382px){
    .catalog_item_goodsImage{
        width: 101%;
        position: relative;
        top: -41px;
        left: -0.5px;
        
    }
}   