
.catalog_item{
    width: 42%;
    max-width: 165px;
    border-radius: 10px;
    height: 280px;
    border: 1px solid #6f2232;
    background-color: #6f2232;
    color: rgb(255, 255, 255);

}

.catalog_itemBottom_text{
    position: relative;
    top: -33px;
    padding-left: 5px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 115.22%;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.catalog_itemBottom img{
    
        width: 18px;
        height: 18px;
    
}

.catalog_itemBottom_price{
    font-family: 'Ubuntu Condensed';
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    position: relative;
    top: -33px;
    color: #FFFFFF;
    padding-left: 5px;

    margin-top: 5px;
    padding-right: 12px;
}

.catalog_item_image{
    display: grid;
}

.catalog_item_addToBuy{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: end;
    position:relative;
    top: -20px;
    right: -15px;
    z-index: 1;
    
}

.catalog_item_goodsImage{
    width: 105%;
    position: relative;
    top: -39px;
    left: -0px; 
}

@media(max-width: 382px){
    .catalog_item_goodsImage{
        width: 200%;
        position: relative;
        top: -41px;
        left: 0px;
        
    }
}   